@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=GFS+Didot&family=Indie+Flower&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    /* background-color: #ffe1e8; */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar h1{
    font-family: "Fredoka", sans-serif;
    font-size: 35px;
    color: #ff3e6c;
    margin-left: 40px;
}

.navbar button{
    margin-right: 40px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: white;
    border: 2px solid #ff3e6c;
    border-radius: 5px;
}

.navbar button:hover{
    background-color: #ff3e6c;
    color: white;
    cursor: pointer;
}   

.footer{
    height: 200px;
    background-color: #ff3e6c;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: larger;
}

.card{
    width: 350px;
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}

.card:hover{
    transform: scale(1.05);
}

.card img{
    width: 100%;
    height: 265px;
    border-radius: 10px;
}

.product-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.card h1{
    font-size: 24px;
    margin: 15px 0;
}

.card p{
    font-size: 18px;
    color: #555;
}

.card h2{
    font-size: 20px; 
    color: #ff3e6c;
    margin: 10px 0px;
}

.card button{
    margin-top: 15px;
    padding: 10px 15px;
    font-size: 16px;
    background-color: #ff3e6c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}