
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #fff2f4; */
  background-color: gradient(to right, #ffecd2 0%, #fcb69f 100%);
}

.counter-container{
  padding: 1rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  gap: 1rem;
}

button{
  border:none;
  outline: none;
  appearance: none;
  font-size: 3rem;
  cursor: pointer;
  font-weight: 800;
  color: #ffb4bc;
  background: transparent;
}

.value{
  font-size: 4rem;
  font-weight: 900;
  color: white;
  background-color: #ff4957;
  padding: 1rem;
  border-radius: 20px;
  min-width: 50%;
  text-align: center;
}

.reset{
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  background-color: #ffb4bc;
  color: white;
  font-weight: 600;
  width: 100%;
  margin-top: 1rem;
}